.cart-item {
  background-color: rgba(144, 118, 39, 0.072);
  height: max-content;
  border-radius: 2em;
  width: 30rem;
  margin-left: 50rem;
  margin-right: 50rem;
  margin-bottom: 3em;
  padding: 2em;
  border: 1px solid grey;
  position: relative;
  bottom: 5;
}

.row {
  display: grid;
}

tr {
    display: flex;
    justify-content: space-between;
}

.total {
margin-left: 45rem;
font-weight: bolder;
}


Button.empty-cart {
  background-color: rgba(172, 138, 133, 0.99);
  margin-left: 125em;
  position: relative;
  bottom: 3em;
  color: rgb(0, 5, 8);
  font-weight: 900;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.empty-cart:hover {
  background-color: rgb(245, 40, 4);
}

@media screen {
  .cart-item {
    background-color: rgba(144, 118, 39, 0.072);
    height: max-content;
    border-radius: 2em;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    margin-top: 2em;
    border: 1px solid grey;
    position: relative;
    bottom: 5;
  }

  .total {
    margin-left: 67rem;
    font-weight: bolder;
    }
  
}