/* .form-control {
  display: grid;
  text-align: justify;
}

button {
  width: 7rem;
  height: 2em;
}

.btn-control {
  margin: 4rem 2.6em;
  margin-top: 2em;
}

.Signup {
  margin-left: 2em;
}

h1 {
  justify-content: center;
} */
